
<div class="footer">
    <div class="container">
        <div class="col-md-3 grid_4">
           <h3>About Us</h3>	
           <p>Trang web <strong>ALT-F4</strong> được thành lập nên để giúp cho các bạn học sinh, sinh viên có thể tiếp cận các kiến thức về lập trình một cách nhanh chóng và tiện lợi hơn.</p>
            <p>Hiện tại bên trang web đã <strong>có hơn 1000+ khóa học</strong> về các ngôn ngữ lập trình từ <strong>các ngôn ngữ cơ sở như C, C++, C# đến các ngôn ngữ bậc cao như Python, ...</strong></p>
              <ul class="social-nav icons_2 clearfix">
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
             </ul>
        </div>
        <div class="col-md-3 grid_4">
           <h3>Quick Links</h3>
            <ul class="footer_list">
                <li><a href="#">-  PRIOR LEARNING ASSESSMENT </a></li>
                <li><a href="#">-  INTERNATIONAL STUDENTS</a></li>
                <li><a href="#">-  CAREER OPPORTUNITIES</a></li>
                <li><a href="#">-   NEW STUDENT ORIENTATION</a></li>
                <li><a href="#">-   NEW CLASSROOM TECHNOLOGY</a></li>
            </ul>
        </div>
        <div class="col-md-3 grid_4">
           <h3>Contact Us</h3>
             <address>
              <strong>Địa chỉ: </strong><span> </span><span>Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp.Hồ Chí Minh.</span> <br>
            <strong>Telephone :</strong><span> 0904444513</span>  
             </address>
            <address>
            <strong>Email : </strong> <a href="mailto@example.com">18521270@gm.uit.edu.vn</a>
            </address>
        </div>
        
        <div class="clearfix"> </div>
        <div class="copy">
           <p>Copyright © 2020 . Đồ án web nhóm 5  </p>
        </div>
    </div>
</div>