<<% layout('layout') %>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            <% posts.forEach(function(post){ %>
                <li class="list-group-item">
                    <div class="lead"><a href="/posts/<%= post._id %>"><%= post.title %></a></div>
                    <a href="<%= post.url %>" target="_blank"><%= post.url %></a>
                </li>
            <% }); %>
        </ul>
    </div>
</div>