@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Medium') format('ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Light.woff2') format('ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic') format('ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBold') format('ttf');
    font-weight: bolder;
    font-style: normal;
}