<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/nodejsbg.webp">
            <div class="carousel-caption">
                <h1 class="display-2">Nodejs</h1>
                <h3>Let's Master Nodejs. Become a perfect development</h3>
                <button type="button" class="btn btn-outline-light btn-lg">Tất cả khóa học</button>
                <button type="button" class="btn btn-primary btn-lg">Bắt đầu học</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/background2.png">
        </div>
        <div class="carousel-item">
            <img src="img/background3.png">
        </div>
    </div>
</div>

{{!-- Phần chào mừng --}}
<div class="container-fluid padding mt-4">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4 hq">Đơn giản & Hiệu quả</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">Chào mừng đến với khóa học Nodejs.
                Học xong khóa học này bạn có thể thiết kế với đa dạng chức năng khác nhau,
                bao gồm cơ bản như CRUD cho đến nâng cao với REACT và Machine Learning</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <img class="d3" src="img/studyalone.png" alt="">
    </div>
    <div class="col-sm-4 top">
        <h3 class="subtitle">Hình 1. Xúc động hình ảnh cậu bé học dưới cái cây</h3>
    </div>
</div>

{{!-- phân chia container --}}
<hr class="my-4">
<figure>
    <div class="fixed-wrap">
        <div id="fixed"></div>
    </div>
</figure>

{{!-- Chia thành 3 column --}}

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <box-icon type='logo' name='nodejs'>NodeJS</box-icon>
            <p>Framework mạnh mẽ cho backend, còn chần chờ gì nữa, học thôi. </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <box-icon name='react' type='logo'>ReactJS</box-icon>
            <p>Bạn sẽ bất ngờ khi các trang web nổi tiếng hiện nay như FaceBook, Tiktok,...
                được code lại với React có thể chạy như trang web thật. Vì nó real-time.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3><i class="fa fa-database" aria-hidden="true"></i></h3>
            <p>Xây dựng một trang web thật chuyên nghiệp, hiệu quả và đơn giản một cách miễn phí. </p>
        </div>
    </div>
</div>

{{!-- phân chia container --}}
<hr class="my-4">

{{!-- Chia thành 2 column --}}
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Tham gia cùng với chúng tôi</h2>
            <p>Learn4Fun, là nơi mọi người cùng nhau học tập và chia sẻ những kiến thức cũng như các kỹ năng cần thiết
                để giúp bạn có một nền tảng vững chắc.</p>
            <p>Tại Learn4Fun, có nhiều khóa học được chia thành nhiều cấp độ khác nhau.
                Vì vậy đừng lo lắng nếu như bạn là một người mới</p>
            <p>Còn đợi chờ gì nữa, hãy nhanh chóng đăng ký tài khoản và gia nhập cộng đồng Learn4Fun nào.</p>
            <a href="#" class="btn btn-primary">Join now</a>
        </div>
        <div class="col-lg-6">
            <img src="img/desk.png" class="img-fluid">
        </div>
    </div>
</div>

{{!-- phân chia container --}}
<hr class="my-4">

{{!-- Sửa Background --}}

{{!-- Emoji Selection --}}


{{!-- Our team --}}
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Our Team</h1>
        </div>
        <hr>
    </div>
</div>

{{!-- Cards --}}
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img src="img/pokemon.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-tittle">Đặng Văn Nhân</h4>
                    <p>Nhân là Nhóm trưởng của nhóm web với hơn 2 năm kinh nghiệm tại trường Đại Học Công Nghệ Thông Tin.</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="img/meo.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-tittle">Hoàng Nguyên Phương</h4>
                    <p>Phương là người có kinh nghiệm trong lĩnh vực xây dựng trang web.</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="img/kagaminelen.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-tittle">Trần Đình Quyền</h4>
                    <p>Quyền là một anh chàng Otaku vừa gia nhập đội hình xây dựng website vào đầu năm nay.</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- phân chia container --}}
<hr class="my-4">

{{!-- Chia thành 2 column --}}
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Về khóa học</h2>
            <p>Chúng tôi có 3 cấp độ phân biệt dành cho các khóa học để bạn có thể tùy chọn học tập theo khả năng của mình.</p>
            <p>Sơ cấp: Là cấp độ khi bạn mới bước chân vào Learn4Fun, Các bạn được học những kiến thức cơ bản về khóa học mà các bạn chọn.</p>
            <p>Trung cấp: Là cấp độ khi mà các bạn đã có nền tảng và đặt chân vào lĩnh vực chuyên sâu hơn của khóa học.</p>
            <p>Cao cấp: Là cấp độ dành cho các bạn đã thông thạo về các nội dung của khóa học và bắt đầu các lĩnh vực nghiên cứu chuyên sâu. </p>
            <a href="#" class="btn btn-primary">Join now</a>
        </div>
        <div class="col-lg-6">
            <img src="img/pkm_web.jpg" class="img-fluid">
        </div>
    </div>
    <hr class="my-4">
</div>

{{!-- Connect --}}
<div class="container-fluid padding">
    <div class="row text-canter padding">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>