.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  margin: 40px 200px;
  width: 480px;
  height: 360px;
  background-color: aquamarine;
}

.btn{
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 20px;
  background: #549DA0;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  margin: 15px 20px;
}

.btn:hover {
  background: #468486;
}